# =========================
# App
# =========================

NODE_ENV=development


# =========================
# Backend
# =========================

PORT_BACK=3001

# =========================
# Frontend
# =========================

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001


# =========================
# Database
# =========================

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fullstack

# =========================
# Redis
# =========================

REDIS_HOST=redis
REDIS_PORT=6379


# =========================
# DOMAIN
# =========================

FRONTEND_DOMAIN=localhost
BACKEND_DOMAIN=api.localhost
