NODE_ENV=development

NEXT_PUBLIC_API_URL=http://postgres:3001

PORT=3001

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://redis:6379
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_KEY=REDIS_KEY

# SECRET
REFRESH_TOKEN_SECRET=w9f8G7h3JkL2mN5pQrS6tUvX7yZ1aB4cD8eF0gH3jK6lM9nP2rS5tU8vW3xY6z
ACCESS_TOKEN_SECRET=f9f8G7h3Jawd56wq4dpQrSfdsklfjkjsef165a1wdjK6lM9nP2rS5t132
